:root {
    --primary:#62beaf;
    --secondary: white;
    --three: #eb5c63;
    --four: #323c3f;

    
}


* {box-sizing: border-box;
	direction: rtl;
	font-family: 'system-ui';

}

BODY{
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 75px 1fr auto;
    overflow-y: scroll;
	 
}

header{
    background: #323c3f;
	display: grid;
	grid-template-columns: 40% 60%;
	padding-right: 10PX;
}
content{
   
	background: linear-gradient(60deg ,#323c3f, var(--primary));
	padding-top: 10PX;
	
	



}

footer{
		display:flex;
		justify-content: space-between;
		align-items: center;
	background: #323c3f;
}















.logo{
	
	
	z-index:1111 ;


}
.logo>img,.logo>.lktba_logo{
    width: 132px;
    height: 76px;
    position: absolute;
    top: -1px;
    left: calc(100% - 130px);
}
.logo>.lktba_logo{
   width: 206px;
    left: calc(100% - 306px);
    font-weight: bold;
    
    line-height: 25px;
    color: #eb5c63;
}


.ara{
    font-size: 15px;
}
.tam{
    font-size: 12px;
}
.fr{
    font-size: 11px;
}





.nav{
	z-index: 100;
	position: relative;
	display:grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	justify-content: space-around;
	height: 100%;
	width: 100%;
	background: transparent;
}
a{

	text-decoration: none;
	color: #f1f1f1;
	font-weight: bold;
	font-family:'system-ui';
	font-size: 17px;
}

.menu{
	display: flex;
	align-items: center;
	width: 100%;
	
}

.icon{
	display: none;
}
#mynav>a:not(.icon):hover{
   color:#282a35 ;
   background:#f1f1f1 ;
	}
	#mynav>a:not(.icon){
 
       width:calc( 100% - 10px);
       text-align: center;
    height: 35px;
    line-height: 37px;
   
   
    border-radius: 5px;
	}


}
@media screen and (max-width: 400px) {
	.element{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 250px;
	background-size: cover;
	padding:10px 40px;
	border-radius: 8px;
	}
	.prev,.next{
		    top: 30%;
	}
	
}

@media screen and (max-width: 840px) {
header{
	
	display: grid;
	grid-template-columns: 40% 60%;
}


	BODY{
		overflow-x: hidden;
		overflow-y: scroll;
	}
.icon{
		display: block;
		position: absolute;
		left:3% ;
		top: 22PX;

	}
	.ico svg{
		width: 40px;
		height: 40px;
		color: white;
		
	}
	#mynav>a:not(.icon):hover{
   color:#282a35 ;
   background:#f1f1f1 ;
	}

	#mynav>a:not(.icon){
 
    width: 350px;
    height: 38px;
    line-height: 35px;
    padding-left: 10px;
    border-radius: 5px;
    text-align: right;
	}

	.nav{
		display: none;
	}

	.navrespo{
	display: grid;
    position: absolute;
    background: #323c3f;
    left: 0PX;
    top: 74px;
    width:100% ;
    overflow: hidden;
    height: 300Px;
    justify-content: right;
    transition: 5s;
    padding-right: 13px;
    align-items: center;
    z-index: 1111111;
    animation: fade 1s linear 1;


	}
	


footer{
	display: block;
}

.lg>a>img{
	margin-right:calc(50% - 40px);
}
.contact{
	margin-right: 20px;
}
.clg{
	display: none;
}

}



.TIT{
	width: 200px;
	margin-right: CALC(50% - 100Px);
	right: calc(50% - 100px);
}


.TIT>h1{
	font-size: 28px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 2px var(--three), 2px 4px 3px var(--primary);
}

.cont{
	margin-right: 20px;
	color: white;
	font-weight: 400;
	
}


h3{
		color: var(--four);
	width: fit-content;
	background: wheat;
	padding:5px ;
	border-radius: 6px;
}





.clg{
	width: 300px;
	height: 300px;
	position: absolute;
	right: 58%;
	top: 195PX;

}

.chi{
	text-align: center;
	width: 100%;
	color: #ffffff;

}

.chi>span{
	color: var(--three);
}


.vid{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 20Px;
	margin-right: -10px;
}



.foot{
	margin-right: 20px;
	font-family: 'system-ui';

	color: #f1f1f1;
}
.foot p span:not(:last-child),.contact p span:not(:last-child){
	color: var(--primary);
	font-weight: 600;
}
.spa{
	margin-right: 30px;
	font-size: 13px;
	font-weight: 400;
	color: white;
}
.spa>a{
	font-weight: 400;
	font-size: 13px;
}

.spa>a:hover{
  color: var(--three);
}


.contact{
	margin-right: 20px;
}


